<!-- Navigation-->

        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
              <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Entrenadores' %}">Entrenadores</a>
                      <li class="nav-item"><a class="nav-link" href="{% url 'Competencias' %}">Competencias</a>
                      <li class="nav-item"><a class="nav-link" href="{% url 'Nadadores' %}">Nadadores</a>
                  </ul>
              </div>
          </div>
      </nav>


{% comment %} <nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <div class="home-button">
      <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
    </div>
    <a class="navbar-brand" href="{% url 'Entrenadores' %}">Entrenadores</a>
    <a class="navbar-brand" href="{% url 'Competencias' %}">Competencias</a>
    <a class="navbar-brand" href="{% url 'Nadadores' %}">Nadadores</a>
    <a class="btn btn-primary" href="#">Ingresar</a>
  </div>
</nav> {% endcomment %}
