<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <div class="home-button">
      <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
    </div>
    <a class="navbar-brand" href="{% url 'Entrenadores' %}">Entrenadores</a>
    <a class="navbar-brand" href="{% url 'Competencias' %}">Competencias</a>
    <a class="navbar-brand" href="{% url 'Nadadores' %}">Nadadores</a>
    <a class="btn btn-primary" href="#">Ingresar</a>
  </div>
</nav>
